<div class="d-flex justify-content-center align-items-center">
   @*  <img src="https://www.wpfaster.org/wp-content/uploads/2013/06/loading-gif.gif" width="200" height="200" /> *@
    <img src="https://cdn.dribbble.com/users/973421/screenshots/3123890/media/0c9704b04e6c1c5b050db9a2391bbdec.gif" width="250" height="250" />
</div>